@charset "UTF-8";

/*
   Filename:   GAMstyles.css
   Author:     Carter Walsh & Camilo Silva-Gutierrez
   Date:       2023-05-30
   Purpose:    CWEB195 Final Project - Great Asian Market
*/

body, header, footer, main, section,
article, aside, span, img, nav, div,
ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* ====== NAV STYLES ====== */
li {
    text-wrap: none;
}

.list-group-item a {
    color: black;
    /*text-decoration: none;*/
}

footer a {
    color: ghostwhite;
}

.nav-separator {
    line-height: 15px;
    font-size: 2em;
    color: rgba(185, 185, 185, 0.57);
    font-weight: lighter;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    width: 15px;
    background-color: rgba(155, 171, 164, 0.5); /* background color of the track */
    padding-top: 30px;
    margin-top: 0px;
    border-radius: 20px; /* rounded corners of the thumb */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(25, 135, 84, 0.48); /* color of the scrollbar thumb */
    border-radius: 20px; /* rounded corners of the thumb */
    padding: 5px 0;
    margin-top: -4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(10, 112, 65, 0.51); /* color of the scrollbar thumb on hover */
}


@media only screen and (max-width: 767px) {
    #location_card {
        height: fit-content;
    }

    #location_inner {
        height: fit-content;
    }

}

@media only screen and (max-width: 1567px) {
    .nav-separator {
        line-height: 39px;
        font-size: 2em;
        color: rgba(185, 185, 185, 0.57);
        font-weight: lighter;
    }
}
