@charset "UTF-8";

/*
   Filename:   GAMstyles.css
   Author:     Carter Walsh & Camilo Silva-Gutierrez
   Date:       2023-05-30
   Purpose:    CWEB195 Final Project - Great Asian Market
*/

#map {
    height: 400px;
}