

section{
    margin-left: 100px;
}


.menu a{
    margin-left: 20px;
}

header img {
    border-radius: 50%;
    width: 50%;

}

div#promo {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#promo img {
    width: 600px;
    height: 800px;
}
li {
    list-style-type: none;
}

.breadcrumb a {
    font-weight: 500;
    color: #198754;
}